.needMargin{
    margin-top: 2em;
}
.imgDiv{
   min-height: 500px;

}
.menu{
    background-color: #420c75;
}
.app{
    min-height: 100vh;
    background-color: #d6d3d3;
    background:  
    
    linear-gradient(
      rgba(2, 0, 200, 0.8), 
      rgba(2, 0, 200, 0.8)
    ), url("https://ak0.picdn.net/shutterstock/videos/2709440/thumb/1.jpg") no-repeat center center fixed; 
    background-size: cover;
  }
  .white-text{
    color:white;
  }
.profilePage{
    min-height: 800px;
}
/* footer{
    min-height: 70px;
    background-color: #420c75;
    color: white;
    text-align: center;
    padding: 50px;
} */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
  }

  main {
    flex: 1 0 auto;
  }
  .addBtn{
    background-color: #df3923;
  }
  .addBtn:hover{
      background-color: #420c75;
  }
  .commentDiv{
      width:60%;
      background-color:#d6d3d3;
      border-radius: 5%;
  }