.needMargin {
    margin-top: 2em;
}

.imgDiv {
    min-height: 500px;
}

.menu {
    background-color: #420c75;
}

.app {
    background-color: #d6d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d6d3d3));
    background-image: -webkit-linear-gradient(top, #fff, #d6d3d3);
    background-image: -moz-linear-gradient(top, #fff, #d6d3d3);
    background-image: linear-gradient(to bottom, #fff, #d6d3d3);
}

.profilePage {
    min-height: 800px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-weight: 300;
}

main {
    flex: 1 0 auto;
}

.page-flexbox-wrapper {
    display: flex; 
    min-height: 100vh;
    flex-direction: column;
    main flex: 1 1 auto;
}

.addBtn {
    background-color: #df3923;
}

.addBtn:hover {
    background-color: #420c75;
}

.commentDiv {
    width: 100%;
    background-color: #d6d3d3;
    border-radius: 5%;
    float: left;
}

.single-image {
    width: 100%;
}

.author-comment {
    padding-right: 20px;
}

.loader {
    margin: 200px 0 0 200px;
}